{% extends 'scanner/base.html' %}
{% load static %}
{% block title_block %}
Location types
{% endblock %}

   {% block body_block %}
      <div class="carousel-item active">
          <!--<div id="filterArea" class="container border">

          </div>-->
        <div class="carousel-container">
 <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mx-auto" data-aos="fade-up">
            <a href="{% url 'scanner:show_foodanddrink' culture.slug %}">
            <div class="icon-box icon-box-light">
              <div class="icon"><i class="bx bx-location-plus"></i></div>
              <h4 class="title">Food & Drink</h4>
               <p class="description">Find a taste of home or try something new!</p>
            </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items mx-auto" data-aos="fade-up" data-aos-delay="100">
            <a href="{% url 'scanner:show_nightlife' culture.slug %}">
            <div class="icon-box icon-box-light">
              <div class="icon"><i class="bx bx-location-plus"></i></div>
              <h4 class="title">Nightlife</h4>
              <p class="description">Late night venues and bars</p>
            </div>
              </a>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items mx-auto t" data-aos="fade-up" data-aos-delay="100">
            <a href="{% url 'scanner:show_lifestyle' culture.slug%}">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-location-plus"></i></div>
              <h4 class="title">Lifestyle</h4>
              <p class="description">Museums, Yoga, Markets... Anything!</p>
            </div>
              </a>
          </div>

        </div>
        <br>
        <br>

      </div>

        </div>
          </div>
{% endblock %}
