{% extends 'scanner/base.html' %}
{% load static %}
{% block title_block %}
Get Started
{% endblock %}

   {% block body_block %}
      <div class="carousel-item active">
          <!--<div id="filterArea" class="container border">

          </div>-->
        <div class="carousel-container">

                <h2 class="animated fadeInDown">Scroll down to start <span>CityScanner</span></h2>
               <p class="animated fadeInUp">Locations in Glasgow grouped by nationality</p>
                 <a href="{% url 'scanner:search' %}"><button type="button" class="btn btn-outline-light">Or Search Right Now!</button></a>

        </div>
        </div>
{% endblock %}


</section>
{% block selection_block %}
  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mx-auto" data-aos="fade-up">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Type in a culture to get started!</a></h4>
              <form class="form-inline" method='post' action="{% url 'home' %}">
                {% csrf_token %}
                <div class="form-group mb-2">
                <label for="culture" class="sr-only">Type Here!</label>

                  <input type="text" class="form-control" name="culturebox" id="culture" placeholder="e.g Greek">
                </div>
                <button type="submit" class="btn btn-dark mb-2">Search</button>
              </form>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items mx-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-blue">
              <div class="icon"><i class="bx bx-location-plus"></i></div>
              <h4 class="title"><a href="{% url 'scanner:locationchoice' %}">Add a new Location</a></h4>
              <p class="description">You must be signed in to do this</p>
              <a href="{% url 'scanner:register' %}"><button type="button" class="btn btn-outline-dark">Register</button></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

{% endblock %}
