<!DOCTYPE html>
{% extends 'scanner/base.html' %}
{% load static %}
{% block title_block %}
LogIn
{% endblock %}
{% block extracss %}

{% endblock %}
{% block body_block %}
<div class="carousel-item active">
  <div class="carousel-container">
      <form id="user_login" method="post">
          <h2 class="animated fadeInDown">Login to CityScanner</h2>
           <div id="form-group">
               {% csrf_token %}
            <p class="animated fadeInUp">Username:</p> <input type="text" name="username" class="form-control" id="username" value="" size="50">
    <hr>    <p class="animated fadeInUp">Password:</p>  <input type="password" name="password" class="form-control" id="password" placeholder="Password" size="50">
    <br>    </div>
        <button type="submit" class="btn btn-outline-light" name="submit" value="login">Log in</button>
    </form>

    <br><br><br>
<a href="{% url 'scanner:register' %}"><button type="button" class="btn btn-outline-light">Register Here</button></a>
    {% endblock %}
