<!DOCTYPE html>
{% extends 'scanner/base.html' %}
{% load static %}
{% block title_block %}
Search by culture
{% endblock %}

   {% block body_block %}
      <div class="carousel-item active">
          <!--<div id="filterArea" class="container border">

          </div>-->
        <div class="carousel-container">
            <form class="form" method='post' action="{% url 'scanner:search' %}">
              {% csrf_token %}
                <h2 class="animated fadeInDown mr-2">Choose a nationality!</h2>
                <div class="form-group form-inline mb-2">

                <input type="text" name="culture" class="form-control animated fadeInDown mr-2" id="culture" value="" size="50">
                <button type="submit" class="btn btn-outline-light">Search</button></a>
                </div>
            </form>
        </div>
          </div>
{% endblock %}
